// variables background:
$white: #ffffff;
$gray1: #FAFAFA;

// color btn:
$search: #6378ff;
$reset: #ffc934;


// shodow:
$shodow: #000;
$alpha: .3;



// variables color text:
$text: #1a1a1a;
$text2: #474747;
$text3: #fff;
